Repository decred/dcrd, pull requests merged in 2020-09, with the labels that each got.

#2342 rpcserver: Add handleGenerate test.
  internal/rpcserver/rpcserver.go
  internal/rpcserver/rpcserverhandlers_test.go
Labels: test coverage

#2346 docs: Add release notes for v1.5.2.
  docs/release-notes/release-notes-1.5.2.md
Labels: documentation

#2354 txscript: Correct JSON test data comment.
  txscript/data/script_tests.json
Labels: test coverage

#2336 blockchain: Decentralized Treasury db migration.
  blockchain/chainio.go
  blockchain/upgrade.go
Labels: database upgrade

#2377 docs: Update for dcrec/secp256k1/v3 module.
  docs/README.md
  docs/assets/module_hierarchy.gv
  docs/assets/module_hierarchy.svg
Labels: documentation

#2378 rpcserver: Forward HTTP server err msgs to logger.
  internal/rpcserver/rpcserver.go
Labels: bug

#2393 rpcserver: Fix race in TestHandleTSpendVotes.
  internal/rpcserver/rpcserverhandlers_test.go
Labels: test coverage
