Repository decred/dcrd, pull requests merged in 2020-08, with the labels that each got.

#2314 docs: Add several historical release notes.
  docs/release-notes/release-notes-1.0.7.md
  docs/release-notes/release-notes-1.1.0.md
  docs/release-notes/release-notes-1.1.2.md
  docs/release-notes/release-notes-1.2.0.md
  docs/release-notes/release-notes-1.3.0.md
  docs/release-notes/release-notes-1.4.0.md
  docs/release-notes/release-notes-1.5.0.md
  docs/release-notes/release-notes-1.5.1.md
Labels: documentation

#2315 multi: Add simnet documentation and setup script.
  contrib/README.md
  contrib/dcr_tmux_simnet_setup.sh
  docs/README.md
  docs/simnet_environment.mediawiki
Labels: documentation, test coverage

#2316 docs: Document additional ws notifications.
  docs/json_rpc_api.mediawiki
  internal/rpcserver/rpcserverhelp.go
  rpcclient/notify.go
Labels: documentation

#2306 multi: add getwork tests.
  internal/rpcserver/interface.go
  internal/rpcserver/rpcserver.go
  internal/rpcserver/rpcserverhandlers_test.go
  rpcadaptors.go
Labels: test coverage

#2321 blockchain: Remove superfluous blockidx fields.
  blockchain/chainio.go
  blockchain/chainio_test.go
  blockchain/upgrade.go
  blockchain/upgrade_test.go
Labels: database upgrade

#2308 rpcserver: add setgenerate & regentemplate tests.
  internal/rpcserver/rpcserverhandlers_test.go
Labels: test coverage

#2325 peer: Update README.md/doc.go to reflect reality.
  peer/README.md
  peer/doc.go
Labels: documentation

#2343 blockchain: Add test func to remove deployment.
  blockchain/common_test.go
Labels: test coverage
