Repository decred/dcrd, pull requests merged in 2020-10, with the labels that each got.

#2329 chaingen: implement DCP0001 for generator.
  blockchain/chaingen/generator.go
Labels: test coverage

#2403 docs: Update simnet env docs for ticket exhaustion.
  docs/simnet_environment.mediawiki
Labels: documentation

#2404 docs: Update JSON-RPC API examples.
  docs/json_rpc_api.mediawiki
Labels: documentation

#2415 rpcserver: Add --rejectnonstd to rpctest
  internal/rpcserver/treasury_test.go
Labels: test coverage

#2390 rpcserver: Add handleGetTreasuryBalance tests.
  internal/rpcserver/rpcserverhandlers_test.go
Labels: test coverage

#2365 rpcserver: Add handleGetGenerate and handleGetHashesPerSec tests.
  internal/rpcserver/rpcserver.go
  internal/rpcserver/rpcserverhandlers_test.go
Labels: test coverage

#2441 blockchain: Create treasury buckets during upgrade.
  blockchain/chainio.go
  blockchain/upgrade.go
Labels: database upgrade

#2443 docs: JSON-RPC API Updates.
  docs/json_rpc_api.mediawiki
Labels: documentation

#2366 rpcserver: Add handleGetHeaders test.
  internal/rpcserver/rpcserverhandlers_test.go
Labels: test coverage

#2405 rpcserver: add ticketsforaddress tests.
  internal/rpcserver/rpcserverhandlers_test.go
Labels: test coverage

#2406 rpcserver: add ticketvwap tests.
  internal/rpcserver/rpcserverhandlers_test.go
Labels: test coverage

#2407 rpcserver: add handleTxFeeInfo tests.
  internal/rpcserver/rpcserverhandlers_test.go
Labels: test coverage

#2408 rpcserver: add handleTicketFeeInfo tests.
  internal/rpcserver/rpcserverhandlers_test.go
Labels: test coverage

#2447 blockchain: Clear failed block flags for HF.
  blockchain/chainio.go
  blockchain/upgrade.go
Labels: database upgrade
