Repository decred/dcrd, pull requests merged in 2021-01, with the labels that each got.

#2283 multi: use EstimateSmartFeeResult.
  docs/json_rpc_api.mediawiki
  internal/rpcserver/rpcserver.go
  internal/rpcserver/rpcserverhandlers_test.go
  internal/rpcserver/rpcserverhelp.go
  rpc/jsonrpc/types/chainsvrresults.go
Labels: rpc server api change

#2528 chaincfg: Update doc.go.
  chaincfg/doc.go
Labels: documentation

#2482 rpcserver: Allow TLS client cert authentication
  config.go
  internal/rpcserver/rpcserver.go
  server.go
Labels: cli flag change

#2540 multi: Rework utxoset/view to use outpoints.
  blockchain/chainio.go
  blockchain/chainio_test.go
  blockchain/compress.go
  blockchain/compress_test.go
  blockchain/error.go
  blockchain/error_test.go
  blockchain/fullblocktests/generate.go
  blockchain/scriptval.go
  blockchain/sequencelock.go
  blockchain/stakeext.go
  blockchain/upgrade.go
  blockchain/utxoviewpoint.go
  blockchain/utxoviewpoint_test.go
  blockchain/validate.go
  gcs/blockcf2/blockcf.go
  internal/mempool/mempool.go
  internal/mempool/mempool_test.go
  internal/mempool/policy.go
  internal/mining/mining.go
  internal/mining/mining_harness_test.go
  internal/mining/mining_view_test.go
  internal/netsync/manager.go
  internal/rpcserver/interface.go
  internal/rpcserver/rpcserver.go
  internal/rpcserver/rpcserverhandlers_test.go
  rpcadaptors.go
  server.go
Labels: database upgrade, non-forking consensus, optimization

#2549 rpcserver: add handleVersion, handleHelp rpc tests.
  internal/rpcserver/interface.go
  internal/rpcserver/rpcserver.go
  internal/rpcserver/rpcserverhandlers_test.go
  internal/rpcserver/rpcserverhelp.go
  internal/rpcserver/rpcserverhelp_test.go
  internal/rpcserver/rpcwebsocket.go
Labels: test coverage

#2523 rpctest: Don't use installed node.
  rpctest/node.go
  rpctest/rpc_harness.go
  run_tests.sh
Labels: test coverage

#2451 docs: Add release notes for v1.6.0.
  docs/release-notes/release-notes-1.6.0.md
Labels: documentation

#2559 multi: Update README.md files for go modules.
  bech32/README.md
  blockchain/README.md
  blockchain/chaingen/README.md
  blockchain/fullblocktests/README.md
  blockchain/indexers/README.md
  blockchain/standalone/README.md
  certgen/README.md
  chaincfg/README.md
  chaincfg/chainhash/README.md
  connmgr/README.md
  dcrec/secp256k1/README.md
  dcrec/secp256k1/ecdsa/README.md
  dcrec/secp256k1/schnorr/README.md
  dcrjson/README.md
  dcrutil/README.md
  dcrutil/txsort/README.md
  gcs/README.md
  hdkeychain/README.md
  lru/README.md
  peer/README.md
  rpc/jsonrpc/types/README.md
  rpcclient/README.md
  rpcclient/examples/dcrdwebsockets/README.md
  rpctest/README.md
  sampleconfig/README.md
  txscript/README.md
  wire/README.md
Labels: documentation
