Repository decred/dcrd, pull requests merged in 2024-05, with the labels that each got.

#3257 wire: Include unmixed session position in KE
  wire/message_test.go
  wire/msgmixkeyexchange.go
  wire/msgmixkeyexchange_test.go
Labels: wire protocol change

#3275 docs: Add mixing cmds and ntfn JSON-RPC API.
  docs/json_rpc_api.mediawiki
Labels: documentation

#3307 dcrjson,rpcserver,types: Add getmixmessage
  dcrjson/jsonrpcerr.go
  internal/rpcserver/interface.go
  internal/rpcserver/rpcserver.go
  internal/rpcserver/rpcserverhelp.go
  rpc/jsonrpc/types/chainsvrcmds.go
  rpc/jsonrpc/types/chainsvrresults.go
Labels: rpc server api change

#3310 rpcserver: Allow getmixmessage from limited users.
  internal/rpcserver/rpcserver.go
Labels: rpc server api change

#3311 docs: Add getmixmessage
  docs/json_rpc_api.mediawiki
Labels: documentation
